@font-face{
    font-family: flyStrategy;
    src: url('/fonts/FtyStrategycideNcv-elGl.ttf');
}

body{
    background-image: url('../Images/enterprizeBackground.jpg');
    color: white;
    font-family: flyStrategy;
}
.homeCol{
    height: 550px;
}
.opaqueBlueBG{
    background-color: rgba(108, 21, 207, 0.671);
}

.opaqueBlueBGSelector:hover{
    background-color: rgba(129, 60, 207, 0.671);
}
.fontSize45{
    font-size: 45px;
    stroke: black;
    text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
}
.fontSize40{
    font-size: 40px;
    stroke: black;
    text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
}
.fontSize35{
    font-size: 35px;
}
.fontSize30{
    font-size: 30px;
}
.fontSize25{
    font-size: 25px;
}
.fontSize20{
    font-size: 20px;
}
.fontSize15{
    font-size: 15px;
}

.menuSize{
    height: 350px;
    width: auto;
}

.handButtonSize{
    height: 400px;
    width: 100%;
}

.arrowSizing{
    height: 250px;
    width: 75%;
}

.rockHeroImage{
    background-image: url("../Images/itsnotjustaboulder.png");
    height: 200px;
    width: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.paperHeroImage{
    background-image: url("../Images/paper.png");
    height: 200px;
    width: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.scissorsHeroImage{
    background-image: url("../Images/scissors.png");
    height: 200px;
    width: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.lizardHeroImage{
    background-image: url("../Images/lizard.png");
    height: 200px;
    width: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.spockHeroImage{
    background-image: url("../Images/spock.png");
    height: 300px;
    width: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

